* {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif !important;
}

body {
  background-color: #eaeaea !important;
}

.ui.inverted.top.fixed.menu {
  background-image: linear-gradient(
    135deg,
    rgb(24, 42, 115) 0%,
    rgb(33, 138, 174) 69%,
    rgb(32, 167, 172) 89%
  ) !important;
}

.react-calendar {
  width: 100%;
  border: none;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
}

.react-datepicker-wrapper {
  width: 100%;
}

/*home page styles*/

.bg-color {
  background-color: #21212b !important;
}

.bg-header-color {
  background-color: #edad61 !important;
}

.bg-footer-color {
  background-color: #22222b !important;
}

.bg-content-color {
  background-color: #292933 !important;
}

.shadow {
  box-shadow: 0 30px 26px 0 rgb(22 22 22 / 75%) !important;
}

.text-color {
  color: #a2abbd !important;
}

.text-color-white {
  color: #ffffff !important;
}

.masthead {
  display: flex;
  align-items: flex-start;
  /* background-image: linear-gradient(
          135deg,
          rgb(24, 42, 115) 0%,
          rgb(33, 138, 174) 69%,
          rgb(32, 167, 172) 89%
  ) !important; */
  height: 100vh;
  margin: 0;
  padding: 0;
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.text-uppercase {
  font-weight: bold !important;
  text-transform: uppercase !important;
}
.masthead h1.ui.header {
  font-size: 34px;
  font-weight: bold;
  text-transform: uppercase;
}

.masthead h2 {
  font-size: 33px;
  font-weight: normal;
}

.font-size33 {
  font-size: 8vw !important;
}

.ui.segments > .segment {
  border-top: 1px solid rgba(253, 253, 253, 0.15) !important;
}

.ui.inverted.segment,
.ui.primary.inverted.segment {
  background: #292933;
}

.margin-1em-x {
  margin: 0 1em !important;
}

.padding-0 {
  padding: 0 !important;
}

.txt-playing {
  font-size: 3.5vw;
  letter-spacing: 2.5px;
  color: #edad61;
  text-transform: uppercase;
  line-height: normal;
}

/*end home page styles*/
